<!--cities.vtl-->
<h1>All cities</h1>
<ul>
  #foreach ($city in $cities)
    <li><a href="/cities/$city.getId()">$city.getName()</a></li>
  #end
</ul>
<a href="/cities/new">Add New City</a>
<!--cities.vtl-->
