<!--jobopening.vtl-->
<h1>$jobopening.getTitle()</h1>
<p class="lead">$jobopening.getDescription()<p>
<h2>Is job filled?:  $jobopening.isFilled()</h2>

<a href="/job-openings/new">Add another job opening</a>
<a href="/job-openings">All job openings</a>
<!--jobopening.vtl-->
