<!--job-openings.vtl-->
<h1>List of job openings</h1>

#if ($jobOpenings)
  <ul>
    #foreach ($jobOpening in $jobOpenings)
      <li><a href="/job-openings/$jobOpening.getId()">$jobOpening.getDescription()</a></li>
    #end
  </ul>
#else
  <p>No job openings!</p>
#end

<a href="/job-openings/new">Add New Job Opening</a>
<!--job-openings.vtl-->
